

    <link  rel="stylesheet" type="text/css" href="/style1.css">

<div class="flex-container">
<h1>SEARCH   RESULTS</h1>


<%data["Search"].forEach(function (movie) {%>



        <li>

              <strong>
                  <%= movie["Title"] %>
              </strong> - <%=movie["Year"]%>
        </li>

  <% }) %>



    <a href="/">Search Again</a>

    <footer>MADE by Pallav RAJ</footer>


</div>




