<head>

<link  rel="stylesheet" type="text/css" href="/style.css">
</head>
<h1> SEARCH FOR MOVIE </h1>


<form action="/results" method="get">

    <input type="text" placeholder="Search" name="search">

    <input type="submit">
</form>
