<head>

<link  rel="stylesheet" type="text/css" href="/style.css">
</head>
<h1> MOVIE BABA </h1>

<div class="flex-container">
<form action="/results" method="get">
    <label >SEARCH FOR MOVIE</label><br>

    <input type="text" placeholder="Search" name="search">

    <button>SEARCH</button>
</form>

</div>