<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="/know.css">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">DOCTOR SAHEB</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link " href="#">About Us</a>
            </li>

            <li class="nav-item">
                <a class="nav-link " href="#">Our Team</a>
            </li>
        </ul>

    </div>
</nav>
<table class="table">
    <thead class="thead-dark">
    <tr>

        <th  scope="col">NAME</th>
        <th  scope="col">DESCRIPTION</th>
        <th scope="col">CATEGORY</th>


    </tr>
    </thead>

<%data["data"].forEach(function (dr) {%>
<tr>

    <td > <%=dr["name"]%></td>
    <td > <%= dr["description"]%></td>
    <td >  <%=dr["category"]%></td>



</tr>


<% })%>

</table>


</body>