<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DOCTOR SAHEB</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet"href="/team.css">
</head>
<body class="flex-container">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#"><i class="fa fa-user-md" aria-hidden="true"></i>    DOCTOR SAHEB</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link " href="/about">About Us</a>
            </li>

            <li class="nav-item">
                <a class="nav-link " href="/team">Our Team</a>
            </li>
        </ul>
    </div>

</nav>
<section class="w3-container w3-center w3-content" style="max-width:800px">
    <h2 class="w3-wide">OUR TEAM</h2>
    <p class="w3-opacity"><i>DEVELOPERS</i></p>
    <p class="w3-justify">We Have Engineers in our team which are Also Photographer and Traveller Along With Geek And tech Enthusiasts .We are Also Open source Lovers.</p>
    <div class="box">

    </div>
    <div class="name1">
        <h5>   PALLAV RAJ</h5>
    </div>
    <div class="box1">

    </div>
    <div class="name2">
        <h5> PRADEEP YADAV</h5>
    </div>
</section>



</body>
</html>

