body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
    color: #FBC300;
    height: 100%;
    background-image: url("lloyd-dirks-74271-unsplash.jpg");
    background-size: cover ;
}

h1{
    margin: 0;
    font-size: 70px;
    line-weight : 150px;
    font-weight: 100;
    color: #952C00;
    margin-top:  100px;
    margin-bottom: 100px;
    align-items: center;

}


.flex-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70%;
}

a{
    color: #a7dbd8;
    padding: 20px;
    text-decoration: none;
    text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);

}

li{
    color: whitesmoke;
    padding: 8px;
    margin: 2px;
    list-style-type: none;
}


footer{


}
