

body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
    color: #FBC300;
    height: 100%;
    background-image: url("computer-1149148_1920.jpg");
    background-size: cover ;
    font-weight: 200;


}

h1{
    margin: 0;
    font-size: 100px;
    line-weight : 150px;
    font-weight: 100;
    color: #a7dbd8;
    margin-top:  100px;
    margin-bottom: 100px;
    align-items: center;

}

.flex-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70%;
}


.form{
    line-height: 1.5;
    border: none;
    border-bottom: 3px solid whitesmoke;
    margin-top: 80px;
    width: 600px;
    font-size: 2.9em;
    color: white;
    padding: 5px 10px;
    background: transparent;
}
label{
    color: #a7dbd8;
    font-size: 40px;
    margin-bottom: 30px;
}

button{
    margin-top: 20px;
    line-height: 2.0;
    border: 3px solid white;
    font-size: 1.9em;
    color: red;
    padding: 4px 20px;
    background: whitesmoke;
    border-radius: 6px;
    opacity: 0.8;
    font-family:Verdana, Geneva, sans-serif;
    cursor:pointer;
}

input{
    height: 50px;
    font-size: 30px;
    margin-right: 10px;
}

input[type=text]:focus{
    outline: none;
    size: 20px;

}

::-webkit-input-placeholder{
    color: #cccccc;
}
input[type=text]{
    background: transparent;
    border: none;
}

